@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #1C1C1C;
    --secondary: #FFF;
    --accent-1: #A2C6C6;
    --accent-2: #9a8a67;
}

* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: var(--primary);
    text-decoration: none;
}


h1, h2, h3 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sr-only {
    display: none;
}

body {
    background-color: var(--accent-1);
    margin: 0;
}

#wrapper {
    margin: 1.25rem;
    background-color: var(--secondary);
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;

    & li a {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            color: var(--accent-2);
        }

        &#logo img {
            display: block;
            width: 180px;
        }
    }
}

h1 {
    margin: 4rem 0;
    text-align: center;
    letter-spacing: 2px;
}

#banner {
    background-image: url("/images/hero.jpg");
    background-size: cover;
    background-position: center 20%;
    height: 80vh;
    position: relative;

    & svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary);
        opacity: 0.4;
    }
}

.cta-section {
    text-align: center;
    margin: 5rem 0;

    & p {
        margin: 1.5rem 0;
    }
}

#sale-btn {
    color: var(--accent-2);
    background-color: var(--secondary);
    border: 1px solid var(--accent-2);
    border-radius: 4px;
    padding: 0.5rem 2rem;
    display: inline-block;
    transition: all 0.1s ease;

    &:hover {
        color: var(--secondary);
        background-color: var(--accent-1);
        border-color: var(--accent-1);
    }
}

#featured-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.25rem;
    padding: 0 1.25rem 1.25rem;

    & img {
        max-height: 350px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.featured1 { grid-area: 1 / 1 / 2 / 4; }
.featured2 { grid-area: 1 / 4 / 2 / 6; }
.featured3 { grid-area: 2 / 1 / 3 / 3; }
.featured4 { grid-area: 2 / 3 / 3 / 6; }

#car-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
}

.car-item  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
}

.car-meta {
    margin: 1rem;

    & h2 {
        color: var(--accent-2);
        font-size: 1.2rem;
        margin: 0 0 1.5rem 0;
    }

    & p {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 1rem 0;
        border-bottom: 1px solid var(--accent-2);
    }

    & span {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}